<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br />
		<div>Registro Usuario</div>
		<br />
		<form th:action="@{/usuarios/save}" th:object="${u}" method="post">

			<div class="col-sm-12">
				<label class="form-label" for="idUsuario">Id: </label> <input
					class="form-control" type="text" th:field="*{idUsuario}"></input>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="fullName">Nombres: </label> <input
					class="form-control" type="text" th:field="*{fullName}"></input>
				 <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('fullName')}"
							th:errors="*{fullName}"></small>
			</div>

			<br />
			<div class="col-sm-12">
				<label class="form-label" for="email">Email: </label> <input
					class="form-control" type="text" th:field="*{email}"></input>
				<p th:if="${#fields.hasErrors('email')}"
					th:class="${#fields.hasErrors('email')}? error">Invalid Age</p>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="displayName">Display Name: </label> <input
					class="form-control" type="text" th:field="*{displayName}"></input>
				<p th:if="${#fields.hasErrors('displayName')}"
					th:class="${#fields.hasErrors('displayName')}? error">Invalid
					Age</p>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="numPhone">Numero Telefono: </label> <input
					class="form-control" type="text" th:field="*{numPhone}"></input>
				<p th:if="${#fields.hasErrors('numPhone')}"
					th:class="${#fields.hasErrors('numPhone')}? error">Invalid Age</p>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="nationality">Nacionalidad: </label> <select
					name="select" class="form-control" th:field="*{nationality}">
					<option value="Peruano" selected="selected">Peruano</option>
					<option value="Mexicano">Mexicano</option>
					<option value="Francés">Francés</option>
					<option value="Estadounidense">Estadounidense</option>
					<option value="Italiano">Italiano</option>
					<option value="Colombiano">Colombiano</option>
					<option value="Chileno">Chileno</option>
					<option value="Argentino">Argentino</option>
					<option value="Boliviano">Boliviano</option>
					<option value="Venezolano">Coreano</option>
					<option value="Ecuatoriano">Ecuatoriano</option>
					<option value="Japonés">Japonés</option>
					<option value="Chino">Chino</option>
					<option value="Australiano">Australiano</option>
					<option value="Ruso">Ruso</option>
					<option value="Español">Español</option>
					<option value="Salvadoreño">Salvadoreño</option>
					<option value="Noruego">Noruego</option>

				</select>
			</div>
			<br />
			<div class="col-sm-12">
				<input class="btn btn-dark" type="submit"></input>
			</div>
		</form>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>