<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br />
		<div style="font-family: 'Roboto', sans-serif; font-size: 150%">Cambiar Geolocalización</div>
		<br />
		<form th:action="@{/geolocalizations/update}" th:object="${geo}"
			method="post" enctype="multipart/form-data">
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="image">Imagen: </label> <input
					type="file" name="file" class="form-control" id="image"></input>
			</div>
			<br />
				<div class="col-sm-12">
				<label class="form-label" for="description">Descripción: </label> <input
					class="form-control" type="text" th:field="*{description}" th:errorclass="'form-control alert-danger'"  required  pattern="[a-zA-Z'-'\s]*" title="Completar la descripción"></input>
			</div>
			<hr style="color: #fdfdfd"></hr>
			<div class="col-sm-12">
				<input class="btn btn-dark" type="submit" value="Actualizar"></input>
			</div>
		</form>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>