<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br />
		<div style="font-family: 'Roboto', sans-serif; font-size: 150%">Actualizar BudgetTrip</div>
		<br />
		<form th:action="@{/budgetrips/update}" th:object="${btt}" method="post">
			<div class="col-sm-12">
				<label class="form-label" for="numBudget">numBudget: </label> <input
					class="form-control" type="text" th:field="*{numBudget}"  th:errorclass="'form-control alert-danger'"  required pattern="[0-9]{2,6}" title="Ingresar presupuesto"></input>
			</div>
	
			<br />
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="numdias">numdias: </label> <input
					class="form-control" type="text" th:field="*{numdias}" th:errorclass="'form-control alert-danger'"  required pattern="[0-9]{1,2}" title="Ingresar n° días"></input>
			</div>
	
			<br />
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="numpeople">numpeople: </label> <input
					class="form-control" type="text" th:field="*{numpeople}" th:errorclass="'form-control alert-danger'"  required pattern="[0-9]{1,2}" title="Ingresar n° personas"></input>
			</div>
	<br />
		<div class="col-sm-12">
			<label class="form-label" for="typeTrip">Type Trip: </label> <select
				name="selectPerson" class="form-control"
				th:field="*{typeTrip.idTypeTrip}">
				<option th:each="de:${listaTypeTrips}" th:value="${de.idTypeTrip}"
					th:text="${de.name}"
					th:selected="(${de.idTypeTrip}==*{typeTrip.idTypeTrip})"></option>
			</select>
		</div>
		<br />
			<br />
			<div class="col-sm-12">
				<input class="btn btn-dark" type="submit"></input>
			</div>
		</form>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>