<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br />
		<div style="font-family: 'Roboto', sans-serif; font-size: 150%">Registro Type Trip</div>
		<br />
		<form th:action="@{/typetrips/save}" th:object="${tp}" method="post">
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="name">Nombre: </label> <input
					class="form-control" type="text" th:field="*{name}"
					th:errorclass="'form-control alert-danger'" required pattern="[A-Za-z]+" title="Completar el tipo de viaje"></input> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></small>
			</div>

			<br />
			<div class="col-sm-12">
				<input class="btn btn-dark" type="submit"></input>
			</div>
		</form>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>