<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br />
		<div
			style="font-family: 'Roboto', sans-serif; font-size: 150%; font-weight: bold;">Lista
			de Alojamientos</div>
		<br />
		<a
						th:href="@{/reviews/new}"><button
							type="button" class="btn btn-outline-success">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
</svg>
							Nueva Review
						</button></a>
						<a
						th:href="@{/reviews/list}"><button
							type="button" class="btn btn-outline-success">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
</svg>
							Lista Reviews
						</button></a>
						<br/>
											<br/>

		<div class="table-responsive"
			style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 5px; border-width: 150px;">

			<div class="card border-dark mb-3 "  
				style="width: 19rem; margin-right: 15px;"
				th:each="accommodation:${listaAlojamientos}">
				<div class="card-header" 
					style="font-size: 20px; font-family: 'Kdam Thmor Pro', sans-serif;"
					th:text="${accommodation.name}"></div>
				<a th:href="@{/accommodations/ver/} + ${accommodation.idAccommodation}"><img
					class="card-img-top" style="width: 302px; height: 200px"
					th:if="${#strings.length(accommodation.image)> 0}"
					th:src="@{'/accommodations/uploads/' + ${accommodation.image}}"></img></a>

				<div class="card-body" style="font-family: 'Roboto', sans-serif;">
					<p class="card-text" th:text="${accommodation.description}"></p>
					<p class="card-text"
						th:text="'Location: ' + ${accommodation.location}"></p>
					<p class="card-text" th:text="${accommodation.facilities}"></p>
					<p class="card-text" th:text="${accommodation.destination.name}"></p>

					<a sec:authorize="hasRole('ROLE_ADMIN')" 
						th:href="@{/accommodations/delete?id=}+${accommodation.idAccommodation}"><button
							type="button" class="btn btn-outline-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-trash3-fill"
								viewBox="0 0 16 16">
  <path
									d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
</svg>
							Eliminar
						</button> </a> <a sec:authorize="hasRole('ROLE_ADMIN')" 
						th:href="@{'/accommodations/goupdate/'+${accommodation.idAccommodation}}"><button
							type="button" class="btn btn-outline-success">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-arrow-clockwise"
								viewBox="0 0 16 16">
  <path fill-rule="evenodd"
									d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
  <path
									d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
</svg>
							Actualizar
						</button></a>
				</div>
			</div>
		</div>
	</div>

	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>