<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
	<br/>
		<div class="card">
			<div class="card-header text-white bg-dark mb-3" th:text="${attraction.name}"></div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>Descripción</td>
								<td th:text="${attraction.description}"></td>
							</tr>
							<tr>
								<td>Dirección</td>
								<td th:text="${attraction.location}"></td>
							</tr>
							<tr>
								<td>Hora de Inicio</td>
								<td th:text="${#dates.format(attraction.startTime,'HH:mm')}"></td>
							</tr>
							<tr>
								<td>Availability In</td>
								<td th:text="${#dates.format(attraction.availabilityIn,'dd/MM/yyyy')}"></td>
							</tr>
							<tr>
								<td>Tipo</td>
								<td th:text="${attraction.type}"></td>
							</tr>
							<tr>
								<td>Precio</td>
								<td th:text="${attraction.price}"></td>
							</tr>
							<tr>
								<td>Destino</td>
								<td th:text="${attraction.destination.name}"></td>
							</tr>
							<tr>
								<td>Foto</td>
								<td><img th:if="${#strings.length(attraction.image)> 0}"
									class="img-thumbnail rounded float-left"
									style="max-width: 60%; max-height: 90%"
									th:src="@{'/atraccions/uploads/' + ${attraction.image}}"
									th:alt="${attraction.image}" /></td>
							</tr>
						</tbody>

					</table>

					<a th:href="@{/atraccions/list}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Volver
					</a>
				</div>
			</div>
		</div>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>
