<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
<div class="container">
		<br />
		<div>Registro Accommodation Type</div>
		<br />
		<form th:action="@{/accommodationtypes/update}" th:object="${atype}" method="post">

			<div class="col-sm-12">
				<label class="form-label" for="idAccommodationType">Id: </label> <input
					class="form-control" type="text" th:field="*{idAccommodationType}"></input>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="description">Descripción: </label> <input
					class="form-control" type="text" th:field="*{description}"></input>
			</div>

			<br />
			<div class="col-sm-12">
				<label class="form-label" for="numBeds">N° Camas: </label> <input
					class="form-control" type="text" th:field="*{numBeds}"></input>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="price">Precio: </label> <input
					class="form-control" type="text" th:field="*{price}"></input>
			</div>
			<br />
			<div class="col-sm-12">
				<label class="form-label" for="numSleeps">N° Personas: </label> <input
					class="form-control" type="text" th:field="*{numSleeps}"></input>
			</div>
			<br />
			<div class="col-sm-12">
				<input class="btn btn-dark" type="submit" value="Actualizar"></input>
			</div>
		</form>
	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>