<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master  ::  head"></head>
<meta charset="UTF-8">
</head>
<body>
<header th:replace="master/master :: header"></header>

	<div class="container">
		<br />
		<div style="font-family: 'Roboto', sans-serif; font-size: 150%">Lista
			de Tipos de Habitaciones</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="font-family: 'Roboto Condensed', sans-serif;">Id</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">Descripción</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">N° Camas</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">Precio</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">N° Personas</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">Operación</th>
						<th style="font-family: 'Roboto Condensed', sans-serif;">Operación</th>
					</tr>
				</thead>
				<tbody id="accommodationType-list">
					<tr th:each="accommodationType:${listaAccommodationTypes}">
						<td th:text="${accommodationType.idAccommodationType}"></td>
						<td th:text="${accommodationType.description}"></td>
						<td th:text="${accommodationType.numBeds}"></td>
						<td th:text="${accommodationType.price}"></td>
						<td th:text="${accommodationType.numSleeps}"></td>
						<td><a th:href="@{/accommodationtypes/delete?id=}+${accommodationType.idAccommodationType}"><button
									type="button" class="btn btn-outline-danger">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-trash3-fill"
										viewBox="0 0 16 16">
  <path
											d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
</svg>
									Eliminar
								</button> </a></td>
						<td><a
							th:href="@{'/accommodationtypes/goupdate/'+${accommodationType.idAccommodationType}}"><button
									type="button" class="btn btn-outline-success">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-arrow-clockwise"
										viewBox="0 0 16 16">
  <path fill-rule="evenodd"
											d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
  <path
											d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
</svg>
									Actualizarr
								</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div align="right">
		<footer th:replace="master/master :: footer"></footer>

	</div>
</body>
</html>